body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background: #1f1f1f;
}

h1 {
    color: gold;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

input {
    padding: 6px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}

.grade-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.grade-row button {
    width: 35px;
    height: 35px;
    font-size: 18px;
    background: gold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.grade-row button:hover {
    background: orange;
}

.grade-row input {
    width: 60px;
    text-align: center;
}

.analyze-btn {
    width: 100%;
    padding: 12px;
    background: gold;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.analyze-btn:hover {
    background: orange;
}

#output {
    margin-top: 10px;
    line-height: 1.6;
}
